[Unit]
    Description=Run Legolas DiApp service

    [Service]
    ExecStart=/var/legolas-di-app/di-app/publish/startup.sh
    ReadWriteDirectories=/var/legolas-di-app/di-app/publish
    WorkingDirectory=/var/legolas-di-app/di-app/publish
    Restart=always
    RestartSec=10
    SyslogIdentifier=legolas_diapp_service
    User=%user%
    Environment=ASPNETCORE_ENVIRONMENT=Production

    [Install]
    WantedBy=multi-user.target